*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

header{
    position: relative;
    left: 0;
    top: 0;
    height: 80px;
}


header img{
    padding-top: 5%;
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.intro {
    position:fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f9f9f9;
}

/*software dev*/
.Software-logo{
    /*relative to parent (logo header). the spans*/
    position: relative;
    display: inline-block;
    bottom: -50px;
    opacity: 0;
}
.Software-logo.active{
    bottom:0;
    opacity:1;
    transition: ease-in-out 0.7s;
}

.Software-logo.fade{
    bottom:150px;
    opacity:0;
    transition: ease-in-out 0.5s;
}


/*software dev*/
.AudioVisual-logo{
    /*relative to parent (logo header). the spans*/
    position: relative;
    display: inline-block;
    bottom: -50px;
    opacity: 0;
}
.AudioVisual-logo.active{
    bottom:0;
    opacity:1;
    transition: ease-in-out 0.7s;
}

.AudioVisual-logo.fade{
    bottom:150px;
    opacity:0;
    transition: ease-in-out 0.5s;
}


/*For "Crea    Tive*/
.Creative-logo{
    /*relative to parent (logo header). the spans*/
    position: relative;
    display: inline-block;
    bottom: -50px;
    opacity: 0;
}


.Creative-logo.active{
    bottom:0;
    opacity:1;
    transition: ease-in-out 0.7s;
}

.Creative-logo.fade{
    bottom:150px;
    opacity:0;
    transition: ease-in-out 0.5s;
}